<!-- Section -->
<section>
  <header class="major">
    <h2>{{ .Site.Params.miniposts.title }}</h2>
  </header>
  <div class="mini-posts">
    {{ range first 3 ( where .Site.RegularPages "Section" "post" ) }}
    <article>
      <a href="{{ .Permalink }}" class="image">
	{{ $preview := .Resources.GetMatch "intro" }}
	{{ with $preview }}
	{{ $scaled := .Resize "336x" }}
	<img src="{{ $scaled.RelPermalink }}" alt="" />
	{{ end }}
	<h5>{{ .Title }}</h5>
	<p>{{ .Description }}</p>
    </article>
    {{ end }}
  </div>
  <ul class="actions">
    <li><a href="/post" class="button">{{ i18n "allposts" }}</a></li>
  </ul>
</section>
